In [1]:
#Functional programming language - C programming 
#OOPs - C++ Programming 
#Scripting Language - Perl and Shell
#Modular Programming - Modula 3 
#Syntax - C programming and ABC programming

In [2]:
#Desktop Application 
#Wesite
#Automations 
#Data Analytics, Data Science, Machine Learning, Artificial Intelligence, Deep Learning 
#IoT Applications 
#Games

In [3]:
#Python Versions 
    #Python 1.0 - 1994 
    #Python 2.0 - 2000
    #Python 3.0 - 2008 
    #Python 3.6.3 - 2016 
    #Python 3.8.2 - 2020

In [6]:
cust_name = 'John'

In [8]:
#For identifiers 
    #Alphabets (small or capital)
    #Numbers 
    # _ 
_cust_name = 'Rahul'

In [9]:
_cust_name

'Rahul'

In [11]:
cust1_n2ame3 = 'Rahul'

In [12]:
cust1_n2ame3

'Rahul'

In [13]:
cust = 'Rahul'

CUST = 'Rajat'

In [14]:
cust

'Rahul'

In [15]:
CUST

'Rajat'

In [16]:
a = 10

In [18]:
type(a)
#Dynamically Typed programming language

int

In [19]:
a = 10.5

In [20]:
type(a)

float

In [23]:
a = 'Rahul123'

In [24]:
type(a)

str

In [27]:
a = "123"

In [28]:
type(a)

str

In [29]:
sales = 150.6

In [31]:
a = sales>100

In [33]:
type(a)

bool

In [34]:
#Python collection datatypes 
    #List 
    #Tuple
    #Dictionary 
    #Set

In [35]:
ages = [21,23,33,43,22,12,22,12,43,22]

In [37]:
type(ages)

list

In [38]:
ages[5]

12

In [40]:
ages[5:8]

[12, 22, 12]

In [41]:
ages

[21, 23, 33, 43, 22, 12, 22, 12, 43, 22]

In [45]:
ages[-5]

12

In [46]:
ages[0:5]

[21, 23, 33, 43, 22]

In [49]:
ages[-1:-4:-1]

[22, 43, 12]

In [52]:
ages[-1:4:-1]

[22, 43, 12, 22, 12]

In [53]:
ages

[21, 23, 33, 43, 22, 12, 22, 12, 43, 22]

In [54]:
ages.append(10)

In [55]:
ages

[21, 23, 33, 43, 22, 12, 22, 12, 43, 22, 10]

In [65]:
ages.append([10,203,40,50])

In [58]:
ages

[21, 23, 33, 43, 22, 12, 22, 12, 43, 22, 10, [10, 203, 40, 50]]

In [60]:
ages[11][1]

203

In [61]:
ages[-1][1]

203

In [62]:
ages

[21, 23, 33, 43, 22, 12, 22, 12, 43, 22, 10, [10, 203, 40, 50]]

In [63]:
del ages[-1]

In [64]:
ages

[21, 23, 33, 43, 22, 12, 22, 12, 43, 22, 10]

In [67]:
del ages[-1][-1]

In [68]:
ages

[21, 23, 33, 43, 22, 12, 22, 12, 43, 22, 10, [10, 203, 40]]

In [69]:
ages.clear()

In [71]:
ages=[21, 23, 33, 43, 22, 12, 22, 12, 43, 22, 10]

In [72]:
ages1  = ages.copy()

In [74]:
ages.count(12)

2

In [76]:
ages.extend([32,34,5,4,3,432,])

In [77]:
ages

[21, 23, 33, 43, 22, 12, 22, 12, 43, 22, 10, 32, 34, 5, 4, 3, 432]

In [78]:
ages1

[21, 23, 33, 43, 22, 12, 22, 12, 43, 22, 10]

In [79]:
ages.index(12)

5

In [80]:
ages[5]=32

In [82]:
ages[10]=100

In [83]:
ages

[21, 23, 33, 43, 22, 32, 22, 12, 43, 22, 100, 32, 34, 5, 4, 3, 432]

In [84]:
ages.insert(0,1000)

In [86]:
ages.insert(5,2000)

In [87]:
ages

[1000, 21, 23, 33, 43, 2000, 22, 32, 22, 12, 43, 22, 100, 32, 34, 5, 4, 3, 432]

In [88]:
ages.pop()

432

In [90]:
ages.pop(3)

33

In [91]:
ages

[1000, 21, 23, 43, 2000, 22, 32, 22, 12, 43, 22, 100, 32, 34, 5, 4, 3]

In [92]:
ages.remove(2000)

In [93]:
ages

[1000, 21, 23, 43, 22, 32, 22, 12, 43, 22, 100, 32, 34, 5, 4, 3]

In [94]:
ages.pop()

3

In [96]:
ages.pop(10)

100

In [98]:
ages.remove(1000)

In [99]:
ages

[21, 23, 43, 22, 32, 22, 12, 43, 22, 32, 34, 5, 4]

In [100]:
ages.reverse()

In [101]:
ages

[4, 5, 34, 32, 22, 43, 12, 22, 32, 22, 43, 23, 21]

In [102]:
ages.sort()

In [105]:
ages.sort(reverse=True)

In [106]:
ages

[43, 43, 34, 32, 32, 23, 22, 22, 22, 21, 12, 5, 4]

In [107]:
sum(ages)

315

In [108]:
min(ages)

4

In [109]:
max(ages)

43

In [110]:
del ages

In [111]:
ages

NameError: name 'ages' is not defined

In [112]:
a = [10,20,30]

In [114]:
a[0]=40

In [115]:
a

[40, 20, 30]

In [135]:
ages_tuple = (23,32,33,23,22)

In [137]:
ages_tuple[0]=100

TypeError: 'tuple' object does not support item assignment

In [138]:
type(ages_tuple)

tuple

In [122]:
type(ages_tuple)

tuple

In [120]:
ages_list = [12,23,22,21]

In [123]:
type(ages_list)

list

In [124]:
ages_list[0]=100

In [125]:
ages_list

[100, 23, 22, 21]

In [127]:
ages_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

In [128]:
ages_tuple.count(23)

2

In [129]:
ages_tuple

(23, 32, 33, 23, 22)

In [130]:
ages_tuple.index(23)

0

In [131]:
sum(ages_tuple)

133

In [132]:
min(ages_tuple)

22

In [133]:
max(ages_tuple)

33

In [134]:
del ages_tuple

In [143]:
a = tuple(ages_tuple)

In [142]:
type(a)

list

In [144]:
a = ages_list.copy()

In [145]:
ages_list

[100, 23, 22, 21]

In [146]:
a

[100, 23, 22, 21]